{% extends 'base.html' %}
{% block content %}

<h1>Add Restaurants</h1>

<form method="GET" action="">
    <input name="search" placeholder="Enter Name" required>
    <input name="location" placeholder="City, State" required>
    <button type="submit">Search</button>
</form>
<hr>
{% for restaurant in restaurants %}
    <div class="card">
        <div class="card-content">
            <span class="card-title"><p>{{ restaurant.name }} <a href="url ">➕</a></p></span>
            <p>{{ restaurant.location.address1 }}</p>
            <p>{{ restaurant.location.city }} {{ restaurant.location.zip_code }}</p>
        </div>
    </div>
{% empty %}
    <h3>No Results</h3>
{% endfor %}

{% endblock %}