{% extends 'base.html' %}
{% block content %}
{% load static %} 

<h1>Add Restaurants</h1>

<form method="GET" action="">
    <input name="search" placeholder="Enter Name" required>
    <input name="location" placeholder="City, State" required>
    <button type="submit">Search</button>
</form>
<hr>
{% for restaurant in restaurants %}
    <div class="card">
        <div class="card-content">
            <div class="col s6">
                <span class="card-title"><p>{{ restaurant.name }}</p></span>
            </div>
            <div class="col s6">
                <input type="image" src="{% static '/images/munchmapfollowblue.png' %}" style="max-width: 25px;" alt="Add Restaurant">
                <form action="{% url 'restaurant_create' restaurant.id %}" method="POST">
                    {% csrf_token %}
                </form>
            </div>
            <p>{{ restaurant.location.address1 }}</p>
            <p>{{ restaurant.location.city }} {{ restaurant.location.zip_code }}</p>
        </div>
    </div>
{% empty %}
    <h3>No Results</h3>
{% endfor %}

{% endblock %}