{% extends 'base.html' %}
{% block content %}

<h1>Home Page</h1>


{% for follow in following %}

  <h3>{{ follow.target }}</h3>
  <div class="card-action">
    <form action="{% url 'unfollow_user' review.user.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Unfollow" class="btn">
  </form>
  </div>

  {% for review in reviews %}
    
    {% if follow.target == review.user %}  

      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <p>{{ review.restaurant.name }}</p><br>
            <p>{{ review.content }}</p><br>
            <p>{{ review.get_rating_display }}</p><br>
          </span>
        </div>
      </div>

    {% endif %}  
  {% endfor %}
{% endfor %}


{% endblock %}