body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: futura;
}

main {
  flex: 1 0 auto;
}

.displaypic {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: rgb(48, 165, 254);
}

div.nav-wrapper {
  background-color: rgb(48, 165, 254);
}

.left.brand-logo {
  color: rgb(252, 125, 203);
  font-weight: bold ;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.submit-link {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button.submit-link:focus {
  background-color: transparent;
  outline: none;
}
