{% extends 'base.html' %}
{% block content %}
{% load static %}

    <h1>{{ reviewer.username  }}</h1>
    {% if followed %}
    <form action="{% url 'profile_unfollow_user' reviewer.id %}" method="POST">
    {% csrf_token %}
    <input type="image" src="{% static '/images/munchmapunfollowpink.png' %}" style="max-width: 25px;" alt="UnFollow User">
    </form>
    {% else %}
    <form action="{% url 'profile_follow_user' reviewer.id %}" method="POST">
    {% csrf_token %}
    <input type="image" src="{% static '/images/munchmapfollowblue.png' %}" style="max-width: 25px;" alt="Follow User">
    </form>
    {% endif %}
    {% for review in reviews %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                <a href="{% url 'detail' review.restaurant.id %}">{{ review.restaurant.name }}</a><br>
                <p>{{ review.content }}</p><br>
                <p>{{ review.get_rating_display }}</p><br>
                </span>
            </div>
        </div>
    {% endfor %}


{% endblock %}