{% extends 'base.html' %}
{% block content %}

    <h1>{{ reviewer.username  }}</h1>

    <form action="{% url 'profile_unfollow_user' reviewer.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Unfollow" class="btn">
  </form>

    {% for review in reviews %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                <p>{{ review.restaurant.name }}</p><br>
                <p>{{ review.content }}</p><br>
                <p>{{ review.get_rating_display }}</p><br>
                </span>
            </div>
        </div>
    {% endfor %}


{% endblock %}